[defaults]
inventory=inventory.ini
roles_path=./roles/:./roles/galaxy/
collections_path=./roles/collections
interpreter_python=/usr/bin/python3
host_key_checking=accept-new
timeout=60
deprecation_warnings=False
# This is an executable script that returns the vault password from your password manager.
# Never store passwords in plain text unless encrypted!
VAULT_PASSWORD_FILE=./.vault_pass
strategy_plugins=mitogen-0.3.22/ansible_mitogen/plugins/strategy
#linear if not using mitogen
strategy=mitogen_linear

[ssh_connection]
pipelining=False
usetty=false
ssh_args=-o ControlMaster=auto -o ControlPersist=1h -o StrictHostKeyChecking=accept-new
control_path=/tmp/sshctl-%%r@%%h
transfer_method=smart

[privilege_escalation]
become_method=sudo
# to support Ubuntu26:
become_exe=sudo.ws
