[defaults]
inventory = inventory.ini
roles_path=./roles/:./roles/galaxy/
collections_path=./roles/collections
interpreter_python=/usr/bin/python3
become_method=sudo
host_key_checking=accept-new
timeout=60
deprecation_warnings=False
# This is an executable script that returns the vault password from your password manager.
# Never store passwords in plain text unless encrypted!
VAULT_PASSWORD_FILE = ./.vault_pass
strategy_plugins=mitogen-0.3.22/ansible_mitogen/plugins/strategy
#linear if not using mitogen
strategy=mitogen_linear


[privilege_escalation]
become = True
become_method = sudo
